@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    background-color: #fafafb;
    justify-content: center;
    font-size: 62.5%;
}

#navbar{
    display: flex;
    flex-direction: row;
    width: 144.0rem;
    height: 8.0rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0rem 0.4rem 0.5rem rgba(0, 0, 0, 0.03);
}

.main-logo{
    height: 2.4rem;
    width: 21.3rem;
}

#link-pp{
    justify-content: center;
    align-self: center;
    margin-left: 0.5rem;

    font-family: Gilroy-Bold;
font-size: 1.9rem;
line-height: 2.2rem;
letter-spacing: 0rem;
text-align: left;
}

#sign-up{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 3rem 47rem 11.3rem 47rem;
    width: 50.0rem;
    height: 71.4rem;
    align-items: center;
    border: 0.1rem solid #444BAB1A;
    background-color: #FFFFFF;
}

#sign-up-head{
color:#4F516B;
font-size: 3.0rem;
font-weight: 600;
line-height: 4.5rem;
letter-spacing: 0rem;
text-align: center;
font-family: Poppins;

}

#email-label{
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 3.0rem;
    color: #737171;
    align-self:flex-start;
    margin-left: 2.5rem;

    font-family: Poppins;

}

#email-input{
    width: 45rem;
    height:5.2rem;
}

#sp-button{
    width:45rem;
    height:4.9rem;
    background: linear-gradient(93.44deg, #444BAB -6.8%, #3CA5C2 186.94%);
    font-family: Poppins;
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 3.0rem;
    color:white;
    margin-top: 4.3rem;
}

#or{
    font: Poppins;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 3.0rem;
    margin-top: 4rem;
}

#g-button{
height: 4.9rem;
width: 45rem;
background: white;
color:#444BAB;
font-family: Poppins;
font-size: 2.0rem;
line-height: 3.0rem;
font-weight: 600;
border: 0.15rem solid #444BAB;
margin-top: 4.0rem;
}

.google-logo{
    /*margin-top: 0.5rem;*/
    height:2rem;
    width: 2rem;;
}

#login{
font-family: Poppins;
font-size: 2.0rem;
font-weight: 500;
line-height: 3.0rem;
letter-spacing: 0rem;
text-align: left;

font-family: Poppins;
font-size: 2.0rem;
font-weight: 400;
line-height: 3.0rem;
letter-spacing: 0rem;
text-align: left;
margin-top: 12.4rem;
}
